body {
  background-color: black;
  text-align: center;
}
ul {
  margin: 8em 1em 1em 1em;
  padding: 0px;
}
li {
  display: inline-block;
  margin: 2em;
}
li a {
  font-size: 3em;
  color: #333;
}
li a:hover {
  color: #999;
}