body {
	background-color: #000;
	font-family: 'Roboto Mono', monospace;
	font-size: 1.3rem;
	text-align: right;
	color: #666;
}
ul {
	list-style-type: none;
	margin: 6em 3em;
	padding: 0px;
}
li {
	margin: 3em;
}
li a {
	color: #666;
	text-decoration: none;
}
li a:visited, li a:checked, li a:active {
	color: #666;
}
li a:hover {
	color: #FFF;
}