* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1f6fe;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #005c9e;
  margin-bottom: 20px;
}

form {
  margin-bottom: 40px;
}

form label {
  display: block;
  font-size: 20px;
  color: #005c9e;
  margin-bottom: 10px;
}

form select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #005c9e;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
}

form input[type="number"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #005c9e;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 20px;
  color: #fff;
  background-color: #faa631;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  text-align: center;
  font-size: 24px;
  color: #005c9e;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }

  form label {
    font-size: 18px;
  }

  form select,
  form input[type="number"] {
    font-size: 16px;
  }

  button[type="submit"] {
    font-size: 18px;
  }

  .result {
    font-size: 20px;
  }
}
